body
  {background-color: #d5f4e6;
}

hr {
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  width: 50%;
}
h1 {color: #00bfff;}
h1 {font-family: clarendon;}
h3 {color: #00bfff;}
s
